<!-- footer.html -->

<footer class="site-footer" style="text-align: center;">
    <div class="container">
      <div class="footer-content">
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        <nav class="footer-nav">
          <ul>
            <a href="https://www.youtube.com/watch?v=0qycxAdRDuo">Video</a>
            |
            <a href="https://github.com/yuvraj-rathod-1202/PSDV-orange3">GitHub</a>
          </ul>
        </nav>
        
      </div>
    </div>
  </footer>
  